export ZSH="{{var_home_folder}}/.oh-my-zsh"

ZSH_THEME="bira"

plugins=(zsh-autosuggestions git)

source $ZSH/oh-my-zsh.sh

# Docker shortcuts
function containers() {
    if [ -z $1 ]; then
        echo "You must pass at least 1 argument"
        return 1
    fi

    IDS=$(docker ps -aq)
    if [ -z $IDS ]; then
        echo "thare are no containers"
        return 0
    fi

    if [ $1 = "stop" ]; then
        docker stop $IDS
    elif [ $1 = "delete" ]; then
        docker rm $IDS
    else
        echo "I dont know that promp"
    fi
}

# Cool Alias
alias vim='gvim -v'
alias vi='gvim -v'
alias v='gvim -v'
alias lg='lazygit'

# Go Envs
export GOPATH="{{var_home_folder}}/go"
export GOROOT="/var/lib/snapd/snap/go/current"
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

